$commonXpadding: 30px;

//header
$headerHeight: 80px;
$mobileHeaderHeight: 50px;

//mobile menu
$mobileMenuXpadding: 70px;
$mobileYMenuPadding: 20px;

//calendar
$calendarTextColor: #9ca7b8;
$calendarBodyWidth: 300px;

//main content
$contentHeight: calc(100vh - 80px); //80 height header
$contentTopPadding: 100px;
$contentMobileTopPadding: 50px;
$contentRightPadding: 20px;
 