@import "../../common styles/variables.scss";

.calendar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: $contentTopPadding;
    width: 33vw;
    height: $contentHeight;
    background-color: #41434a;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .calendar {
        width: 100vw;
        min-height: 430px;
        padding-top: $contentMobileTopPadding;

        &__link {
            display: block;
        }
    }
}
