@import "../../../common styles/extends.scss";
@import "../../../common styles/variables.scss";

.calendar-head {
    position: relative;
    padding: 10px 0;
    box-sizing: border-box;
    width: $calendarBodyWidth;

    &:after {
        @extend %calendar-parts-underline;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        @extend %styles-for-button;
    }

    &__history-button {
        display: none;
        margin-bottom: 30px;
    }

    &__button-icon {
        width: 15px;
        height: 15px;
        transition: transform 0.3s;
    }

    &__history-button:hover &__button-icon {
        transform: translateX(-3px);
    }

    &__text {
        @extend %calendar-font-styles;
    }

    &__history-text {
        @extend %calendar-font-styles;
        margin-left: 5px;
    }
}

@media screen and (max-width: 1024px) {
    .calendar-head {

        &__history-button {
            display: block;
        }
    }
}